<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../buyer.css">
</head>
<body>
    <nav>
        <label class="logo">
            <a href="/seller/home">ThriftMate</a>
        </label>
        <ul class="lower">
            <li><a href="/seller/home" class="active">Home</a></li>
            <li><a href="/seller/listProducts">My products</a></li>
            <li><a href="/seller/logout">Logout</a></li>
        </ul>

    </nav>

    <div class="border1">
        <div class="mini">
            <div class="side"><img src='../sellerImages/<%=user.image.filename%>' alt="Profile picture"></div>
            <div class="name"><%= user.name %></div>
            <div class="email"><%= user.email %></div>
            <div class="phone"><%= user.phone %></div>
            <div class="address"><%= user.address %></div>
            
            <br>
            <a href="/seller/complete?id=<%= user._id%>">Edit profile</a>
        </div>
        <div class="option">
            <ul id="profile">
                <li><a href="/seller/listProducts">My list</a></li>
                <li><a href="/seller/soldProducts">Sold</a></li>
                <li><a href="/seller/product">Upload product</a></li>
                <li><a href="/seller/review">Review</a></li>
            </ul>
        </div>
             
    </div>
    
    <div class="message">
        <% if(typeof message !== 'undefined'){ %>
                <p id="mess"> <%= message %></p>
        <%}%>
    </div>
    
    
</body>
</html>