<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="buyer.css">
</head>
<body>
    <nav>
        <label class="logo">
            <a href="/homepage">ThriftMate</a>
        </label>
        <ul class="lower">
            <li><a href="/homepage" class="active">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </nav>

    <div class="border1">
        <div class="mini">
            <div class="side"><img src='buyerImages/<%=user.image.filename%>' alt="Profile picture"></div>
            <div class="name"><%= user.name %></div>
            <div class="email"><%= user.email %></div>
            <div class="phone"><%= user.phone %></div>
            <div class="address"><%= user.address %></div>
            
            <br>
            <a href="/complete?id=<%= user._id%>">Edit profile</a>
        </div>
        <div class="option">
            <ul id="profile">
                <li><a href="/browseProducts">Browse Products</a></li>
                <li><a href="/myCart">My cart</a></li>
                <li><a href="/productBought">Product bought</a></li>
                <li><a href="/reviews">Review</a></li>
            </ul>
        </div>
             
    </div>
    
    
</body>
</html>